html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #000000;

}

.logo {
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.col{
  position: absolute;
  right: 2%;
  z-index: 11;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  bottom: 50px;
  gap: 100px;
}
.cardBox {
  padding: 36px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);


  height: 400px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  /* identical to box height, or 46px */
  letter-spacing: 0.04em;
  text-align: left;
  /* white */
  color: #FFFFFF;


}
table tr {
  height: 40px;
  font-size: 14px !important;
  letter-spacing: 0.04em;
  line-height: 2;
}
h3 {
  font-size: 2.2em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
